div.loading_progress{
    position:fixed;
    top:50%;
    left:50%;
}
.toggle {
    float: left;
    margin: 0;
    padding:16px 0;
    width: 70px;
}
img.hover_zoom:hover{
    width:100px;
    height:100px;
}
img.hover_zoom{
    position: absolute;
    z-index: 1;
    float:left;
    width:20px;
    height:20px;
}
div.hover_zoom_container{
    padding-top:8px;
}
img.hover_zoom+input{
    margin-left:30px;
}
.dataTables_processing{
	    padding-top: 3px !important;
}
